In [46]:
# Importing all the necessary libraries
import numpy as np
import pandas as pd

In [47]:
# Load the project data file

file_path = 'Project_Data_Loan_sanction.xlsx'
df = pd.read_excel(file_path)

print(df.head())

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001015   Male     Yes          0      Graduate            No
1  LP001022   Male     Yes          1      Graduate            No
2  LP001031   Male     Yes          2      Graduate            No
3  LP001035   Male     Yes          2      Graduate            No
4  LP001051   Male      No          0  Not Graduate            No

   Applicant_Income  Coapplicant_Income  LoanAmount  Loan_Amount_Term  \
0              5720                   0         110               360
1              3076                1500         126               360
2              5000                1800         208               360
3              2340                2546         100               360
4              3276                   0          78               360

   Credit_History Property_Area
0               1         Urban
1               1         Urban
2               1         Urban
3               1         Urban
4               1         Urban

In [25]:
# Checking the number of duplicate rows
num_duplicates = df.duplicated().sum()

# Printing the number of duplicate rows
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 0

In [26]:
# Dropping the duplicate rows 
df_duplicate_cleaned = df.drop_duplicates()
print('df_duplicate_cleaned shape:', df_duplicate_cleaned.shape)

df_duplicate_cleaned shape: (367, 12)

In [27]:
# Checking for null values in each column
null_values = df.isnull().sum()

# Printing the number of null values in each column
print(null_values)

Loan_ID                0
Gender                 0
Married                0
Dependents            10
Education              0
Self_Employed          0
Applicant_Income       0
Coapplicant_Income     0
LoanAmount             0
Loan_Amount_Term       0
Credit_History         0
Property_Area          0
dtype: int64

In [29]:
# Deleting the Rows which are having null values
df_null_cleaned = df.dropna()
print('df_null_cleaned:', df_null_cleaned.shape)

df_null_cleaned: (357, 12)

In [32]:
# Impute null values with Mode in Gender Column
mode_gender = df['Gender'].mode()[0]
df_updated = df['Gender'].fillna(mode_gender)
print(df_updated)

0      Male
1      Male
2      Male
3      Male
4      Male
       ...
362    Male
363    Male
364    Male
365    Male
366    Male
Name: Gender, Length: 367, dtype: object

In [33]:
# Impute null values with Mode in Self_Employed Column
mode_self_employed = df['Self_Employed'].mode()[0]
df_updated = df['Self_Employed'].fillna(mode_self_employed)
print(df_updated)

0       No
1       No
2       No
3       No
4       No
      ...
362    Yes
363     No
364     No
365     No
366    Yes
Name: Self_Employed, Length: 367, dtype: object

In [34]:
# Impute null values with Median in LoanAmount Column
median_loan_amount = df['LoanAmount'].median()
df_updated = df['LoanAmount'].fillna(median_loan_amount)
print(df_updated)

0      110
1      126
2      208
3      100
4       78
      ...
362    113
363    115
364    126
365    158
366     98
Name: LoanAmount, Length: 367, dtype: int64

In [35]:
# Print the Top 5 Records
top_5_records = df.head()
print(top_5_records)

    Loan_ID Gender Married Dependents     Education Self_Employed  \
0  LP001015   Male     Yes          0      Graduate            No
1  LP001022   Male     Yes          1      Graduate            No
2  LP001031   Male     Yes          2      Graduate            No
3  LP001035   Male     Yes          2      Graduate            No
4  LP001051   Male      No          0  Not Graduate            No

   Applicant_Income  Coapplicant_Income  LoanAmount  Loan_Amount_Term  \
0              5720                   0         110               360
1              3076                1500         126               360
2              5000                1800         208               360
3              2340                2546         100               360
4              3276                   0          78               360

   Credit_History Property_Area
0               1         Urban
1               1         Urban
2               1         Urban
3               1         Urban
4               1         Urban

In [36]:
# Export the DataFrame to an Excel file
output_file_path = 'output.xlsx'
df.to_excel(output_file_path, index=False)
print('The dataframe successfully exported to an excel file')

The dataframe successfully exported to an excel file

In [37]:
# Get the number of rows in the DataFrame
num_rows = df.shape[0]
print(f"Number of rows: {num_rows}")

# Get the number of columns in the DataFrame
num_columns = df.shape[1]
print(f"Number of columns: {num_columns}")

Number of rows: 367
Number of columns: 12

In [38]:
# Get and print all Column names in a DataFrame
column_names = df.columns
print(column_names)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Applicant_Income', 'Coapplicant_Income', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area'],
      dtype='object')

In [39]:
# Generate the descriptive statistics of numerical variables
numerical_stats = df.describe()
print(numerical_stats)

       Applicant_Income  Coapplicant_Income  LoanAmount  Loan_Amount_Term  \
count        367.000000          367.000000  367.000000        367.000000
mean        4805.599455         1569.577657  135.980926        342.822888
std         4910.685399         2334.232099   60.959739         64.658402
min            0.000000            0.000000   28.000000          6.000000
25%         2864.000000            0.000000  101.000000        360.000000
50%         3786.000000         1025.000000  125.000000        360.000000
75%         5060.000000         2430.500000  157.500000        360.000000
max        72529.000000        24000.000000  550.000000        480.000000

       Credit_History
count           367.0
mean              1.0
std               0.0
min               1.0
25%               1.0
50%               1.0
75%               1.0
max               1.0

In [40]:
# Display numeric data type columns
numeric_columns = df.select_dtypes(include=['int64', 'float64'])
print(numeric_columns)

     Applicant_Income  Coapplicant_Income  LoanAmount  Loan_Amount_Term  \
0                5720                   0         110               360
1                3076                1500         126               360
2                5000                1800         208               360
3                2340                2546         100               360
4                3276                   0          78               360
..                ...                 ...         ...               ...
362              4009                1777         113               360
363              4158                 709         115               360
364              3250                1993         126               360
365              5000                2393         158               360
366              9200                   0          98               180

     Credit_History
0                 1
1                 1
2                 1
3                 1
4                 1
..              ...
362               1
363               1
364               1
365               1
366               1

[367 rows x 5 columns]

In [48]:
# Select all data types of columns in a DF except object data type
non_object_columns = df.select_dtypes(exclude=['object'])
print(non_object_columns)

     Applicant_Income  Coapplicant_Income  LoanAmount  Loan_Amount_Term  \
0                5720                   0         110               360
1                3076                1500         126               360
2                5000                1800         208               360
3                2340                2546         100               360
4                3276                   0          78               360
..                ...                 ...         ...               ...
362              4009                1777         113               360
363              4158                 709         115               360
364              3250                1993         126               360
365              5000                2393         158               360
366              9200                   0          98               180

     Credit_History
0                 1
1                 1
2                 1
3                 1
4                 1
..              ...
362               1
363               1
364               1
365               1
366               1

[367 rows x 5 columns]

In [42]:
# Extract records where Self_Employed is equal to "Yes"
self_employed_yes = df[df['Self_Employed'] == 'Yes']
print(self_employed_yes)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
5    LP001054    Male     Yes          0  Not Graduate           Yes
37   LP001210    Male     Yes          0      Graduate           Yes
38   LP001211    Male      No          0      Graduate           Yes
49   LP001270    Male     Yes         3+  Not Graduate           Yes
54   LP001312    Male     Yes          0  Not Graduate           Yes
61   LP001335    Male     Yes          0      Graduate           Yes
73   LP001380    Male     Yes          0      Graduate           Yes
77   LP001413    Male      No          0      Graduate           Yes
90   LP001475    Male     Yes          0      Graduate           Yes
110  LP001584  Female      No          0      Graduate           Yes
132  LP001728    Male     Yes          1      Graduate           Yes
143  LP001791    Male     Yes          0      Graduate           Yes
144  LP001794    Male     Yes          2      Graduate           Yes
147  LP001817    Male      No          0  Not Graduate           Yes
155  LP001857    Male      No          0  Not Graduate           Yes
156  LP001862    Male     Yes          2      Graduate           Yes
195  LP002083    Male      No          0      Graduate           Yes
199  LP002102    Male     Yes          0      Graduate           Yes
200  LP002105    Male     Yes          0      Graduate           Yes
212  LP002172    Male     Yes         3+      Graduate           Yes
218  LP002195    Male     Yes          1      Graduate           Yes
224  LP002256  Female      No          2      Graduate           Yes
231  LP002298    Male      No          0      Graduate           Yes
246  LP002358    Male     Yes          2      Graduate           Yes
248  LP002375    Male     Yes          0  Not Graduate           Yes
271  LP002482  Female      No          0      Graduate           Yes
300  LP002644    Male     Yes          1      Graduate           Yes
302  LP002654  Female      No        NaN      Graduate           Yes
303  LP002657    Male     Yes          1  Not Graduate           Yes
306  LP002721    Male     Yes          2      Graduate           Yes
328  LP002806    Male     Yes         3+      Graduate           Yes
338  LP002857    Male     Yes          1      Graduate           Yes
340  LP002860    Male     Yes          0      Graduate           Yes
341  LP002867    Male      No          0      Graduate           Yes
349  LP002891    Male     Yes          0      Graduate           Yes
362  LP002971    Male     Yes         3+  Not Graduate           Yes
366  LP002989    Male      No          0      Graduate           Yes

     Applicant_Income  Coapplicant_Income  LoanAmount  Loan_Amount_Term  \
5                2165                3422         152               360
37               2267                2792          90               360
38               5833                   0         116               360
49               8000                 250         187               360
54               5293                   0          92               360
61               7016                 292         125               360
73               3900                2094         232               360
77               6356                   0          50               360
90               3188                2286         130               360
110              4742                   0         108               360
132              3343                1517         105               360
143             32000                   0         550               360
144             10890                   0         260                12
147              8703                   0         199               360
155              1599                2474         125               300
156              4246                4246         214               360
195              5833                   0         116               360
199              1900                1442          88               360
200              8706                   0         108               480
212              5384                   0         150               360
218              3507                3148         212               360
224              5184                   0         187               360
231              2860                2988         138               360
246              5000                2166         150               360
248              3943                   0          64               360
271              3333                3916         212               360
300              7500                   0          75               360
302             14987                   0         177               360
303               570                2125          68               360
306              7500                   0         183               360
328              6958                1411         150               360
338              2360                3355          87               240
340              2623                4831         122               180
341              3972                4275         187               360
349              2500                 296         137               300
362              4009                1777         113               360
366              9200                   0          98               180

     Credit_History Property_Area
5                 1         Urban
37                1         Urban
38                1         Urban
49                1     Semiurban
54                1         Urban
61                1         Urban
73                1         Rural
77                1         Rural
90                1         Rural
110               1     Semiurban
132               1         Rural
143               1     Semiurban
144               1         Rural
147               1         Rural
155               1     Semiurban
156               1         Urban
195               1         Urban
199               1         Rural
200               1         Rural
212               1     Semiurban
218               1         Rural
224               1     Semiurban
231               1         Urban
246               1         Urban
248               1     Semiurban
271               1         Rural
300               1         Urban
302               1         Rural
303               1         Rural
306               1         Rural
328               1         Rural
338               1         Rural
340               1     Semiurban
341               1         Rural
349               1         Rural
362               1         Urban
366               1         Rural

In [43]:
# Extract records where Property_Area is equal to "Urban"
urban_records = df[df['Property_Area'] == 'Urban']
print(urban_records)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001015    Male     Yes          0      Graduate            No
1    LP001022    Male     Yes          1      Graduate            No
2    LP001031    Male     Yes          2      Graduate            No
3    LP001035    Male     Yes          2      Graduate            No
4    LP001051    Male      No          0  Not Graduate            No
..        ...     ...     ...        ...           ...           ...
356  LP002935    Male     Yes          1      Graduate            No
357  LP002952    Male      No          0      Graduate            No
360  LP002965  Female     Yes          0      Graduate            No
362  LP002971    Male     Yes         3+  Not Graduate           Yes
363  LP002975    Male     Yes          0      Graduate            No

     Applicant_Income  Coapplicant_Income  LoanAmount  Loan_Amount_Term  \
0                5720                   0         110               360
1                3076                1500         126               360
2                5000                1800         208               360
3                2340                2546         100               360
4                3276                   0          78               360
..                ...                 ...         ...               ...
356              3791                1936          85               360
357              2500                   0          60               360
360              8550                4255          96               360
362              4009                1777         113               360
363              4158                 709         115               360

     Credit_History Property_Area
0                 1         Urban
1                 1         Urban
2                 1         Urban
3                 1         Urban
4                 1         Urban
..              ...           ...
356               1         Urban
357               1         Urban
360               1         Urban
362               1         Urban
363               1         Urban

[140 rows x 12 columns]

In [45]:
# Print the number of unique values in the "Gender" column
unique_gender_count = df['Gender'].nunique()
print(f"Number of unique values in 'Gender' column: {unique_gender_count}")

Number of unique values in 'Gender' column: 2